
<div class="content">
<div class="wrapper">
<div class="panel">
	<h1> Register your Over Time?</h1>
	<p>
		<%= form_for @ot do |f| %>
			<% if @ot.errors.any? %>
				<ul>
					<% @ot.errors.full_messages.each do |e| %>
						<li><%= e %></li>
					<% end %>
				</ul>
			<% end %>
			
			
			<%= label_tag(:StartingTime, :StartingTime ) %><br />
			<%= label_tag(:StartingTime, :StartingTime ) %>
			<%= select(:starting_time, :starting_time,[1,2,3,4,5,6,7,8,9,10,11,12])  %> <%= label_tag("Date", "Date" ) %>
			<%= date_select(:sdayofOt, :sdayofOt,order: [:day, :month, :year], selected: Date.today) %> 
			<%= select(:STAP, :STAP, [['AM', 1], ['PM', 2]]) %><br /><br /><br /><br />
			 <%= label_tag(:EndingTime, :EndingTime ) %><br />
			  <%= label_tag(:EndingTime, :EndingTime ) %>
			<%= select(:EndingTime, :EndingTime,[1,2,3,4,5,6,7,8,9,10,11,12])  %>
			 <%= label_tag(:Date, :Date ) %>
			 <%= date_select(:edayofOt, :edateofOt, order: [:day, :month, :year],selected: Date.today) %>
			<%= select(:ETAP, :ETAP, [['AM', 'AM'], ['PM', 'PM']]) %><br /><br /><br /><br />
			<%= f.submit "Save OT" %>
		
			
		<% end %>
	</p>
	</div>
	</div>
</div>
