<head>
	<script>
function isSaturday() {
	var dayofweek = document.getElementById('startingday');
	if (dayofweek == 6)
    document.getElementById("startingtime").value = 1;
}
</script>
</head>
<div class="content">
<div class="wrapper">
<div class="panel">
	<h1> Register your Over Time</h1>
	
		<%= form_for @overtime do |f| %>
			<% if @overtime.errors.any? %>
				<ul>
					<%= @overtime.errors.messages.values.each do |e| %>
						<li><%= e %></li>
					<% end %>
				</ul>
			<% end %>
			 
				<%= label_tag(:Partner, "Select Your Partner:" ) %>
				<%= collection_select(:userid, :name, User.select(:id, :name).where.not(username: 'admin').order(:name), :id, :name, prompt: 'select partner') %><br /><br />
				<%= label_tag(:status, "EOD Status:" ) %><br />
				<%= label_tag(:status, "Before EOD:" ) %>
				<%= f.select(:beforeEOD, ['OK','Not OK','Slow', 'Very Slow'] ) %>&nbsp;&nbsp;&nbsp;&nbsp;
				<%= label_tag(:status, "EOD :" ) %>
				<%= f.select(:EOD, ['OK','Not OK','Slow', 'Very Slow'] ) %>&nbsp;&nbsp;&nbsp;&nbsp;
				<%= label_tag(:status, "After EOD:" ) %>
				<%= f.select(:afterEOD, ['OK','Not OK','Slow', 'Very Slow'] ) %><br /><br />
			<%= label_tag(:StartingTime, :StartingTime ) %><br />
			<%= f.select(:stimehours,(1..12).map{ |n| n % 1 == 0 ? n.to_i : n }, :id =>'startingtime' )%> :
			<%= f.select(:stimeminutes,(1..59).map{ |n| n % 1 == 0 ? n.to_i : n })%> &nbsp;&nbsp;&nbsp;&nbsp;
			<%= label_tag("Date", "Date" ) %>
			<%= f.date_select(:sdayofot, order: [:day, :month, :year], :id => 'startingday', :onchange =>"isSaturday()") %> 
			<%= f.select(:STAP, ['am', 'pm'], :selected => 'pm') %><br /><br /><br />
			 <%= label_tag(:EndingTime, :EndingTime ) %><br />
			<%= f.select(:etimehours,(1..12).map{ |n| n % 1 == 0 ? n.to_i : n })  %> :
			<%= f.select(:etimeminutes,(1..59).map{ |n| n % 1 == 0 ? n.to_i : n })%> &nbsp;&nbsp;&nbsp;&nbsp;
			 <%= label_tag(:Date, :Date ) %>
			 <%= f.date_select(:edayofot,  order: [:day, :month, :year]) %>
			<%= f.select(:ETAP, ['am', 'pm']) %><br /><br />
			<%= f.submit "Save OT" %>
		
			
		<% end %>

	</p>
	</div>
	</div>
</div>

