
<div class="content">
<div class="wrapper">
<div class="panel">
	<h1> Register your Over Time</h1>
	<p>
		<%= form_for @overtime do |f| %>
			<% if @overtime.errors.any? %>
				<ul>
					<%= @overtime.errors.messages.values.each do |e| %>
						<li><%= e %></li>
					<% end %>
				</ul>
			<% end %>
			 
				<%= label_tag(:Partner, "Select Your Partner:" ) %>
				<%= collection_select(:userid,:name, User.order(:name), :id, :name) %>
		
			<br /><%= label_tag(:StartingTime, :StartingTime ) %><br />
			<!--<%= label_tag(:StartingTime, :StartingTime ) %> -->
			<%= f.select(:stimehours,(1..12).map{ |n| n % 1 == 0 ? n.to_i : n }, selected: 5)%> :
			<%= f.select(:stimeminutes,(1..59).map{ |n| n % 1 == 0 ? n.to_i : n })%> &nbsp;&nbsp;&nbsp;&nbsp;
			<%= label_tag("Date", "Date" ) %>
			<%= f.date_select(:sdayofot, order: [:day, :month, :year], selected: Date.today) %> 
			<%= f.select(:STAP, ['am', 'pm'], :selected => 'pm') %><br /><br /><br /><br />
			 <%= label_tag(:EndingTime, :EndingTime ) %><br />
			 <!-- <%= label_tag(:EndingTime, :EndingTime ) %> -->
			<%= f.select(:etimehours,(1..12).map{ |n| n % 1 == 0 ? n.to_i : n })  %> :
			<%= f.select(:etimeminutes,(1..59).map{ |n| n % 1 == 0 ? n.to_i : n })%> &nbsp;&nbsp;&nbsp;&nbsp;
			 <%= label_tag(:Date, :Date ) %>
			 <%= f.date_select(:edayofot,  order: [:day, :month, :year],selected: Date.today) %>
			<%= f.select(:ETAP, ['am', 'pm'], selected: 'am') %><br /><br />
			<%= f.submit "Save OT" %>
		
			
		<% end %>
	</p>
	</div>
	</div>
</div>
