<!DOCTYPE html>
<html>
<head>
  <title>Lion Bank OT System</title>
  <link rel="stylesheet/less" type="text/css" href="style.less" />
  <script type="text/javascript" src="/less.js"></script>
  <%= csrf_meta_tags %>
  <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        margin-left:  20px;
        margin-right:10px;
        width: 1200px;
    }
    th, td {
        padding: 5px;
        text-align: left;

    }
    p {
      text-align: center;
      font-size: 14px;
    }
    h5 {
      text-align: left;
      font-size: 10px;
      margin: 10px;
    }
</style>
</head>
<body>
<header>
  <div class = "wrapper">
  <p>LIB INTERNATIONAL BANK(S.C)<br />
     DELTA-BANK-PROJECT<br />
     <b>Follow Up Sheet for Overtime </b>
     
  </p>
   
   
    
    
  </div>
  </header>
 <h5> <%= link_to 'logout'"(#{current_user.username})", logout_path()%><br /><br />
  <%= form_tag('/newot') do %>
OT Report for 
<%= select_month(14, prompt: 'Choose month',:onchange => "this.form.submit();")%></h5>
<% end %>
<table >
  <tr><b>
    <td  bgcolor="grey"><b>S.No</b></td>
    <td  bgcolor="grey">Day</td>
    <td  bgcolor="grey">Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td  bgcolor="grey">Period of Time (Range of Time)</td>
    <td  bgcolor="grey">Total No of Hours Worked</td>
    <td  bgcolor="grey">EOD</td>
    <td  bgcolor="grey">EOD</td>
    <td  bgcolor="grey">After EOD</td>
    <td  bgcolor="grey">Name</td></b>
    </tr>
    
    
    <% totalh = 0 %>    <% nightm = 0 %>     <% weekendh = 0 %>
    <% weekendm = 0 %>  <% weekday  = '' %>  <% totalm = 0 %>
    <% eveningh = 0 %>  <% nighth = 0 %>     <% date = ''     %>
    <% range = '' %>    <% etotalh = 0 %>    <% etotalm = 0 %>
    <% evening = '' %>  <% night = '' %>     <% weekend = '' %>
    <% userid  = '' %>   <% name = '' %>     <% eodstatus = '' %>
    <% month = 0 %>      <% eod = ''  %>     <% beod = '' %> <% aeod = '' %>
<% t1 = Time.parse(Time.now.to_s) %>
<%= month = t1.month - 1 %> 
 <% days = Time.days_in_month(t1.month  , t1.year) %>
<% for i in 1..days %>
<% range = '' %>    <% etotalh = 0 %>    <% etotalm = 0 %>
       <% evening = '' %>  <% night = '' %>     <% weekend = '' %>
        <% userid = '' %>   <% name = '' %>     <% eodstatus = '' %>
         <% eod = ''  %>     <% beod = '' %>  <% aeod = '' %>
        <% if i < 10 && month < 10%>
           <% date = "0#{i} - 0#{t1.month} - #{t1.year} " %>
         <% elsif i < 10 %>
             <% date = "0#{i} - #{t1.month} - #{t1.year} " %>
          <% elsif t1.month < 10 %>
             <% date = "#{i} - 0#{t1.month} - #{t1.year} " %>
          <% end %>
             <% date = date.to_date %>
            <% date =  date.strftime("%d-%m-%Y") %>
             <% weekday = Date::DAYNAMES[date.to_date.wday] %>

    <% @reports.each do |ots| %>

      <% t2 = Time.parse(ots.sdayofot.to_s) %>
      <% if t2.month == t1.month %>
        
       
        <% if t2.day == i %>
           <% eod = ots.EOD %>
           <% beod = ots.beforeEOD %>
           <% aeod = ots.afterEOD %>
          <%userid = ots.user_id %>
          <% user = User.find_by_id(userid ) %>
          <% if name== '' %>
           <% name = "#{user.name} "" #{name}"  %>
           <% else %>
           <% name = "#{user.name} "" & #{name}"  %>
           <% end %>
            <% if ots.stimeminutes > 30 %>
              <% stotalh = ots.stimehours +=1 %>
           <% elsif ots.stimeminutes >= 15 %>

              <% stotalh = ots.stimehours %>
              <% stotalm = '1/2' %>
              <% totalm = totalm + 0.5 %>
           <% else %>
              <% stotalh = ots.stimehours + 0 %>
           <% end %>
          
           <% if ots.etimeminutes > 30 %>
              <% etotalh = ots.etimehours +=1 %>
           <% elsif ots.etimeminutes >= 15 %>

              <% etotalh = ots.etimehours  %>
              <% etotalm = '1/2' %>
              <% totalm = totalm + 0.5 %>
                
              <% if (Date::DAYNAMES[ots.sdayofot.wday]).casecmp('Saturday') !=0 &&
                  (Date::DAYNAMES[ots.sdayofot.wday]).casecmp('Sunday') !=0 %>
                    <% nightm = nightm + 0.5 %>
              <% else%>
                  <% weekendm = weekendm + 0.5 %>
              <% end %>
            <% else %>
              <% etotalh = ots.etimehours + 0 %>
            <% end %>
            <% if etotalm==0 %>
              <% etotalm = '' %>
            <% end %>
            <% range = "#{ots.stimehours} #{ots.ETAP} - #{ots.etimehours} #{etotalm} #{ots.STAP}" %>
            
               <!-- total number of hours worked -->
           
                <% if ots.ETAP != ots.STAP %>
                  <% etotalh = etotalh + 12 - stotalh  %>
                  
                <% else %>
                   <% etotalh = etotalh - stotalh %> 
                   
                  
                <% end %>
              
                <% totalh = totalh + etotalh %>
            <% if (Date::DAYNAMES[ots.sdayofot.wday]).casecmp('Saturday') !=0 &&
                  (Date::DAYNAMES[ots.sdayofot.wday]).casecmp('Sunday') !=0 %>
                  <% eveningh = eveningh + 5 %>
                  <% nighth = nighth + etotalh - 5 %>
                 
            
                <% if etotalh >= 5 %> <% evening = 5 %> 
                <% else %> <% evening = "#{etotalh} #{etotalm}" %> 
                <% end %> 
            
              
                 <% if etotalh >= 5 %>
                 <% night = "#{etotalh - 5} #{etotalm}" %>
                 <% end %>
               
            <% else %>
              <% weekendh = weekendh + etotalh %>
              <% weekend = "#{etotalh} #{etotalm}" %>
            <% end %>
            <% else %>
                <% weekday = Date::DAYNAMES[date.to_date.wday] %>
               
               

        <% end %> 

    <% end %>
  <% end %>
  <tr>
    <td><%= i %></td>
    <td><%= weekday %></td>
    <td><%= date %></td>
    <td><%= range %></td>
    <td><% if etotalh !=0 %> <%= etotalh %> <% end %><% if etotalm != 0 %><%= etotalm %> <% end %></td>
   
    
    <td><%= beod %></td>
    <td><%= eod %></td>
    <td><%= aeod %></td>
    <td><%= name %></td>
  </tr>

<% end %>

</table>
<br /><br />
</body>
</html>