
  <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;

    }
    th, td {
        padding: 5px;
        text-align: left;
    }
    table {
      width: 1180px
    }
</style>

<div class="content">
<div class="wrapper">
<div class="panel">
	
  <%= form_tag 'monthlyreport' do %>
  OT Report for 
 
  <%= select_month(14, :prompt=>t("date.month_names")[@month.to_i], field_name: 'month', :prefix => 'report')%>
   
  <%= submit_tag 'Get Report' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<u><%= link_to 'Report as pdf', overtimes_path(@reports, :month =>@month.to_i, :format => 'pdf')%></u>
<% end %>
 
<table border="1" border-colapse="collapse">
  <tr>
    <th rowspan="4" bgcolor="grey">S.No</th>
    <th rowspan="4" bgcolor="grey">Day</th>
    <th rowspan="4" bgcolor="grey">Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th rowspan="4" bgcolor="grey">Period of Time(Range of Time)</th>
    <th rowspan="4" bgcolor="grey">Total No of Hours Worked</th>
    <th colspan="4" >Distribution of Worked Time(OT Ratio)</th>
    <th rowspan="4" bgcolor="grey">Signature of the employee</th>
    <th rowspan="4" bgcolor="grey">Remark</th>
    </tr>
    <tr>
        
        <th bgcolor="grey">Evening</th>
        <th bgcolor="grey">Night</th>
        <th bgcolor="grey">weekend</th>
        <th bgcolor="grey">Holidays</th>
        
    </tr>
    <tr>
      
      <th bgcolor="grey">5p.m-10p.m</th>
      <th bgcolor="grey">10.p.m-6a.m</th>
      <th bgcolor="grey"> 8a.m-6a.m</th>
      <th bgcolor="grey">8a.m-6a.m</th>
      
    </tr>
    <tr>
      
      <th bgcolor="grey">1.25</th>
      <th bgcolor="grey">1.50</th>
      <th bgcolor="grey">2.00</th>
      <th bgcolor="grey">2.50</th>
     
    </tr>
    <% totalh = 0 %>    <% nightm = 0 %>     <% weekendh = 0 %>
    <% weekendm = 0 %>  <% weekday  = '' %>  <% totalm = 0 %>
    <% eveningh = 0 %>  <% nighth = 0 %>     <% date = ''     %>
    <% range = '' %>    <% etotalh = 0 %>    <% etotalm = 0 %>
    <% evening = '' %>  <% night = '' %>     <% weekend = '' %>

  <% t1 = Time.parse((Time.now ).to_s) %>
  <% days = Time.days_in_month(@month.to_i, t1.year) %>
<% if days %>
<% else %>
  <% @month = t1.month %>
 <% days = Time.days_in_month(@month.to_i, t1.year) %>
<% end %>
<% for i in 1..days %>
       <% range = '' %>    <% etotalh = 0 %>    <% etotalm = 0 %>
       <% evening = '' %>  <% night = '' %>     <% weekend = '' %>
        <% if i < 10 && @month.to_i < 10%>
           <% date = "0#{i}-0#{@month}-#{t1.year} " %>
         <% elsif i < 10 && @month.to_i >= 10 %>
             <% date = "0#{i}-#{@month}-#{t1.year} " %>
          <% elsif @month.to_i >= 10 && i >= 10  %>
             <% date = "#{i}-#{@month}-#{t1.year} " %>
          <% elsif @month.to_i < 10 && i >= 10  %>
            <% date = "#{i}-0#{@month}-#{t1.year} " %>
          <% end %>
            <% date = (Date.parse(date)).strftime("%d-%m-%Y") %>
            <% weekday = Date::DAYNAMES[date.to_date.wday] %>
    <% @reports.each do |ots| %>

      <% t2 = Time.parse(ots.sdayofot.to_s) %>
      <% if t2.month == @month.to_i %>
        
        <% if t2.day == i %>
           
          
           
            <% if ots.stimeminutes > 30 %>
              <% stotalh = ots.stimehours +=1 %>
           <% elsif ots.stimeminutes >= 15 %>

              <% stotalh = ots.stimehours %>
              <% stotalm = '1/2' %>
              <% totalm = totalm + 0.5 %>
           <% else %>
              <% stotalh = ots.stimehours + 0 %>
           <% end %>
          
           <% if ots.etimeminutes > 30 %>
              <% etotalh = ots.etimehours += 1  %>
           <% elsif ots.etimeminutes >= 15 %>

              <% etotalh = ots.etimehours  %>
              <% etotalm = '1/2' %>
              <% totalm = totalm + 0.5 %>
                
              <% if (Date::DAYNAMES[ots.sdayofot.wday]).casecmp('Saturday') !=0 &&
                  (Date::DAYNAMES[ots.sdayofot.wday]).casecmp('Sunday') !=0 %>
                    <% nightm = nightm + 0.5 %>
              <% else%>
                  <% weekendm = weekendm + 0.5 %>
              <% end %>
            <% else %>
              <% etotalh = ots.etimehours + 0 %>
            <% end %>
            <% if etotalm==0 %>
              <% etotalm = '' %>
            <% end %>
            <% if ots.etimehours > 12 %>
                <% range = "#{ots.stimehours} #{ots.ETAP} - #{ots.etimehours % 12} #{etotalm} #{ots.STAP}" %>
             <% else %>
                <% range = "#{ots.stimehours} #{ots.ETAP} - #{ots.etimehours} #{etotalm} #{ots.STAP}" %>
              <% end %>
               <!-- total number of hours worked -->
           
                <% if ots.ETAP != ots.STAP  && etotalh < 12%>
                  <% etotalh = (etotalh + 12 - stotalh)  %>
                                 
                <% else %>
                   <% etotalh = etotalh - stotalh %> 
                   
                  
                <% end %>
              
                <% totalh = totalh + etotalh %>
            <% if (Date::DAYNAMES[ots.sdayofot.wday]).casecmp('Saturday') !=0 &&
                  (Date::DAYNAMES[ots.sdayofot.wday]).casecmp('Sunday') !=0 %>
                  
                 
                 
                <% if ots.stimehours <= 10 and ots.STAP == 'pm' %>

                      <% if etotalh >= 5 %>
                         <% evening = 5 %> 
                         <% eveningh = eveningh + 5 %>
                         <% nighth = nighth + etotalh - 5 %>
                         <% night = "#{etotalh - 5} #{etotalm}" %>
                      <% else %> 
                         <% evening = "#{etotalh} #{etotalm}" %> 
                         <% eveningh = eveningh + etotalh %>
                      <% end %> 
                  

                <% elsif ots.stimehours > 10 || (ots.stimehours < 6 and ots.STAP == 'am') %>
                    
                      <% night = "#{etotalh} #{etotalm}" %>
                      <% nighth = nighth + etotalh %>
                
                <% end %>
            <% else %>
                  <% weekendh = weekendh + etotalh %>
                  <% weekend = "#{etotalh} #{etotalm}" %>
                  <% weekday = Date::DAYNAMES[date.to_date.wday] %>
            <% end %>

        <% end %> 

        <% end %>

       
  <% end %>
 
  <tr>
    <td><%= i %></td>
    <td><%= weekday %></td>
    <td><%= date.to_date.strftime("%d-%b-%y") %></td>
    <td><%= range %></td>
    <td><% if etotalh !=0 %> <%= etotalh %> <% end %><% if etotalm != 0 %><%= etotalm %> <% end %></td>
    <td><%= evening %></td>
    <td><%= night %></td>
    <td><%= weekend %></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
<tr>
      <td colspan="4" >
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Total</td>

      <td>
          <% if (totalh + totalm) % 1 ==0 %>
            <%= (totalh + totalm).to_i %>
          <% else %>
            <%= (totalh + totalm - 0.5).to_i %><%= ' 1/2' %>
          <% end %>
      </td>
      <td>
        <% if eveningh % 1 == 0 %>
          <%= eveningh.to_i %>
        <% else %>
         <%= (eveningh - 0.5 ).to_i %><%= ' 1/2' %>
        <% end %>
      </td>
      <td>
        <% if (nighth + nightm) % 1 == 0 %>
          <%= (nighth + nightm).to_i %>
        <% else %>
          <%= (nighth + nightm - 0.5 ).to_i %> <%= ' 1/2'%>
        <% end %>
      </td>
      <td>
          <% if (weekendh + weekendm) % 1 == 0 %>
             <%= (weekendh + weekendm).to_i %>
          <% else %>
             <%= (weekendh + weekendm - 0.5 ).to_i %><%= ' 1/2' %>
          <% end %>
      </td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
</table>
	</div>
	</div>
</div>
