  <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
</style>
<div class="content">
<div class="wrapper">
<div class="panel">
	<h1>LIB employees over time</h1>
 
<table border="1">
  <tr>
    <th>S.No</th>
    <th>Day</th>
    <th>Date</th>
    <th>Period of Time</th>
    <th>Total No of Hours<br /> Worked</th>
    <th>Edit</th>
    <th>Remove</th>
  </tr>

<% @overtimes.each.with_index do |ots, index| %>

  <tr>
  	<td> <%= index +1 %> </td>
    <td><%= Date::DAYNAMES[ots.sdayofot.wday] %></td>
    <td><%= ots.sdayofot.strftime("%d-%m-%y") %></td>
     <% if ots.stimeminutes >= 30 %>
      <% stotalh = ots.stimehours +=1 %>
   <% elsif ots.stimeminutes >= 15 %>

      <% stotalh = ots.stimehours %>
      <% stotalm = '1/2' %>
   <% else %>
      <% stotalh = ots.stimehours + 0 %>
   <% end %>
   <% if ots.etimeminutes >= 30 %>
      <% etotalh = ots.etimehours +=1 %>
   <% elsif ots.etimeminutes >= 15 %>

      <% etotalh = ots.etimehours  %>
      <% etotalm = '1/2' %>
    <% else %>
      <% etotalh = ots.etimehours + 0 %>
    <% end %>
    <td><%= ots.stimehours %>  <%= ots.STAP %> - <%= ots.etimehours %><%= etotalm %>  <%= ots.ETAP %></td>
    
    <td>
  
    <% if ots.ETAP != ots.STAP %>
       <%= etotalh + 12 - stotalh %> <%= etotalm %></td>
    <% else %>
       <%= etotalh - stotalh %> <%= etotalm %></td>
       <% end %>

    
    <td><%= link_to "Edit", edit_overtime_path(ots) %></td>
    <td><%= link_to "Delete",ots, method: :delete,
                                  data: { confirm: "You sure?" }  %></td>
                                  
  </tr>
  
<% end %>
</table>
	</div>
	</div>
</div>
